.sr-only {
    display: none!important;
}

#top {
    position: relative;
    height: 75px;
    position: relative;
    margin-bottom: 10px;
    background-color: #036fab;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.select-lang {
    
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    width: 300px;
    min-height: 300px;
    float: left;
    border-right: 2px solid #036fab;
}

#left li {
    list-style: none;
    margin-bottom: 5px;
}

#left li::before {
  content: "• ";
  color: #036fab;
}

#left ul {
    margin: 30px 0;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    min-height: 300px;
    padding-left: 50px;
    margin-left: 300px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.logo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

h1 {
    color: #036fab;
    font-size: 15px;
}

h3 {
    color: #036fab;
}

.button {
    background-color: #036fab;
    padding: 10px 15px;
    color: white;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 10px 5px;
}

.danger:hover{
    background-color: red;
}
.login_form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #036fab;
    padding: 20px 10px;
}

.login_form_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #036fab;
}

.login_form_group input {
    margin: 10px 0;
    width: 100%;
    height: 25px;
    border: 1px solid #036fab;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.list_box {
    width: 20%;
    padding: 10px;
    margin: 15px;
    box-shadow: 0px -1px 16px 0px rgba(3,111,171,0.22);
}

.list_box h3 {
    border-bottom: 1px solid #036fab;
    padding-bottom: 10px;
}

.list_box_btn {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.list_box_btn .button {
    color: white!important;
    font-weight: normal;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group .button{
    width: 120px;
    margin: 20px 0;
}

.input-upload {
    margin-top: 20px;
}

.result {
    font-size: 18px;
    font-weight: bold;
    color: #036fab;
}

.result.green{
    color: green;
}

.result.red{
    color: red;
}
